@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
:root {
    --Dark-Blue: #000434;
    --Bright-Blue: #0099D8;
    --White: #ffffff;
    --Bright-Aqua: #00C6D7;
    --Bright-Green: #72BF44;
    --Bright-Yellow: #FFCB05;
    --Bright-Orange: #FF5800;
    --Bright-Red: #EF3F4A;
    --Bright-Fuschia: #CF2C91;
    --Bright-Purple: #8E52A1;
    --Pale-Grey: #F2F2F2;
    --Dark-Aqua: #004651;
    --Dark-Green: #004124;
    --Dark-Grey: #32363F;
    --Dark-Crimson: #5A0024;
    --Dark-Pink: #500035;
    --Dark-Purple: #23024E;
    --Mid-Grey: #8996A0;
    --Black:#000000;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
    margin: 0;
    height: 100%;
}
#c {
    width: 100%;
    height: 100%;
    display: block;
 }
body {
    background: var(--White);
    position: relative;
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

body.loaded {
    overflow: auto;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
}

section .container {
    max-width: 1360px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-start;
}

section.one .container {
    grid-template-areas: 'content ..'
}

section.two .container {
    grid-template-areas: '.. content'
}

.hero {
    width: 100%;
    height: auto;
    margin-bottom: 5px;

    grid-area: content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    line-height: 100px;
    font-weight: 700;
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Black);
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    font-family: inherit;
    display: block;
    width: 100%;
    color: var(--Black);
}

h3 {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 30px;
    display: block;
    width: 100%;
    color: var(--Bright-Blue);
}

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    display: block;
    width: 100%;
    color: #000000;
}

.central {
    text-align: center; /* Centra el contenido horizontalmente */
    padding: 60px; /* Añade un poco de espacio alrededor del contenido */
    box-sizing: border-box; /* Incluye el relleno en el ancho y alto total */
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 800px; /* Asegúrate de que esto sea suficiente para que la animación y los textos quepan */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding-left: 20px; /* añade espacio a la izquierda */
    padding-right: 20px; /* añade espacio a la derecha */
}

.left-texts {
    position: absolute; /* Posiciona los textos de manera absoluta */
    top: 50%; 
    left: 20%;
    transform: translateY(-50%);
    color: var(--Black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-texts {
    position: absolute; 
    top: 50%; 
    margin-left: 900px;
    transform: translateY(-50%);
    color: var(--Black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.btn {
    color: var(--Bright-Blue); 
    background-color: white; 
    border: 2px solid var(--Bright-Blue); 
    padding: 1rem 3rem; 
    font-size: 1rem; 
    border-radius: 0;
    transition-duration: 300ms;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--Bright-Blue); /* Fondo azul en hover */
    color: white; /* Texto blanco en hover */
}
@media (max-width: 768px) {
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    canvas.webgl {
        opacity: 0.5;
    }

    .hero {
        position: relative;
        z-index: 4;
        width: 92%;
        padding: 0 20px; 
        box-sizing: border-box; 
        margin: 0 auto;
        text-align: center;
    }

    section .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    p {
        font-size: 4vw;
        line-height: 1.4; 
        word-wrap: break-word; 
    }

    .btn {
        display: block;
        margin: 20px auto;
        padding: 0.75rem 2rem;
        font-size: 1.25rem;
        
    }
  }